PORT=3000
GYM_NAME=Beastly Workout
GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service-account@your-project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY\n-----END PRIVATE KEY-----\n"
GOOGLE_SHEETS_SPREADSHEET_ID=your_google_sheet_id
GOOGLE_SHEETS_SHEET_NAME=Leads
GOOGLE_SHEETS_OWNER_EMAIL=your@email.com
TIMEZONE=Europe/Rome
ALLOWED_ORIGINS=http://localhost:3000
